{% extends "layout.html" %}
{% block body %}
    {% if symbol_error %}
	<p class="error" style="background-color: red;">The stock symbol {% if symbol %}, {{ symbol }} ,{% endif %} could not be found. Please enter a valid stock symbol.</p>
    {% endif %}

	<p>Provide a stock symbol to get the past 10 days of stock data</p>
    <form action="/api/v1/saveohlvc/" method="post">
        <input type="text" name="symbol"><br><br>
        <input type="submit" value="Get daily stock data">
    </form>

	{% if ohlvc_data %}
	<div>
		<p>Last Ten Days of Stock Data for {{ ohlvc_data[0]['symbol'] }}</p>
		<table style="width:100%">
		  <tr>
		    <th>Date</th> 
		    <th>Open</th>
		    <th>High</th>
		    <th>Low</th>
		    <th>Close</th>
		    <th>Volume</th>
		  </tr>
		  {% for day  in ohlvc_data %}
		  <tr>
		    <td>{{ day['date'] }}</td>
		    <td>{{ day['open'] }}</td>
		    <td>{{ day['high'] }}</td>
		    <td>{{ day['low'] }}</td>
		    <td>{{ day['close'] }}</td>
		    <td>{{ day['volume'] }}</td>
		  </tr>
		  {% endfor %}
		</table>
		{% endif %}
{% endblock %}
	</div>
