{% extends "layout.html" %}
{% block body %}
    <h2>Learn more about investing</h2>
    <p>Here are some resources about investing and financial independence</p>
    <p>Intro Books</p>
    <ul>
       <li><a href="http://amzn.to/2ihGHkz">A Beginner's Guide to Investing</a></li><br>
       <li><a href="http://amzn.to/2ilDT8q">The Simple Path to Wealth</a></li><br>
       <li><a href="http://amzn.to/2iulXG5">Your Money or Your Life: 9 Steps to Achieving Financial Freedom</a></li><br>
    </ul>
    <p>Blogs</p>
    <ul>
       <li><a href="http://www.mrmoneymustache.com/">Mr. Money Mustache Blog</a></li><br>
    </ul>
    <p>Courses</p>
    <ul>
       <li><a href="https://www.khanacademy.org/economics-finance-domain/core-finance/interest-tutorial">Khan Academy course: Intro to Compound Interest and Debt</a></li><br>
    </ul>
    <p>Take It To The Next Level Material</p>
    <ul>
       <li><a href="http://amzn.to/2mkTbtQ">Unshakeable: Your Financial Freedom Playbook By Tony Robbins</a></li><br>
    </ul>
{% endblock %}